
{% extends 'user_base.html' %}
{% load staticfiles %}


{% block content %}
<div class="blankHeight"></div>
<div class="individualCenter container">
    <div class="operationMenu col-md-2 col-lg-2 col-sm-2 hidden">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">

                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="" aria-expanded="true" href="#collapseOne"
                           aria-controls="collapseOne"
                           class="collapsed">
                            <i class="icon">
                                <img src="{% static 'images/iconPersonalCenter2x.png' %}"/>
                            </i>
                            个人信息
                            <li class="fa fa-chevron-up"></li>
                        </a>
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#userInformation" href="personalInfo.html">
                        <div class="panel-body">
                            <i class="icon fa fa-cog ">
                                <!--<img src="{% static 'images/iconAccount2x.png"/>-->
                            </i>
                            <p>账户设置 </p>
                        </div>
                    </a>

                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon">
                                <img src="{% static 'images/iconOrder2x.png' %}"/>
                            </i>
                            我的订单
                            <li class="fa fa-chevron-up"></li>

                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#entryOrderContent" href="personalOrder.html">
                        <div class="panel-body">
                            <i class="icon "><img src="{% static 'images/iconCoupon2x.png' %}"></i>
                            <p>报名订单 </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent=""
                           href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            <i class="icon">
                                <img src="{% static 'images/iconAsset2x.png' %}"/>
                            </i>
                            我的资产
                            <li class="fa fa-chevron-up"></li>

                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#myCouponContent" href="personalCoupon.html">
                        <div class="panel-body">
                            <i class="icon "><img src="{% static 'images/iconCoupon2x.png' %}"></i>
                            <p>优惠券 </p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <button class="menuToRightBtn" style="display: none"><i class="fa fa-angle-right fa-2x"></i></button>
    </div>
    <div class=" personalRight col-md-10 col-lg-10 col-sm-12">

        <div class="displayContent myCouponContent  active" id="myCouponContent">
            <h4>优惠券</h4>
            <div class="myCoupon ">
                <div class="formHead tabs">
                    <span class="active">未使用</span>
                    <span>已使用</span>
                    <span>已过期</span>
                </div>
                <div class="formBody ">
                    <div class="tabContent active">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  active">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已领取</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  active">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已领取</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabContent">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>

                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabContent">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">120</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已过期</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">200</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已过期</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div>

            </div>
        </div>
    </div>

</div>
{% endblock %}

