{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}<body style="background: #F5F5F5">{% endblock %}

{% block content %}
<div class="blankHeight"></div>
<div class="container">
    <div class="curriculumDetial">
        <div class="pic col-md-4 col-lg-4 col-xs-12 col-sm-12"></div>
        <div class="rightInformation col-md-8 col-lg-8 col-xs-12 col-sm-12">
            <div class="topDiv">
                <h4>{{ course.name }}</h4>
                <div><span class="oldPrize">￥{{ course.cost_old }}</span>
                    <span class="currentPrize">￥{{ course.cost_new }}</span>
                </div>

            </div>
            <div class="midDiv">
                {% for advantage in course.get_advantages %}
                <div class="tbbServer">
                    <li class="fa fa-map-marker"></li>
                    <span>{{ advantage.detail }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="btmDiv">
                <div class="entryBtn"><span><a href="{% url 'course:course_info' course.id %}">立即报名</a></span></div>
            </div>
        </div>
    </div>
    <h4>练车场地</h4>
    <div class="promiseDiv">
        <div class=" col-md-7 col-xs-12">
            <div>
                <div class="pic"><img src="{{ MEDIA_URL }}{{ course.practiceplace.image }}"></div>
            </div>
        </div>
        <div class=" col-md-5 col-xs-12">
            <div class="tbbPromise">
                <h4>Tuobaba承诺：</h4>
                <span>{{ course.practiceplace.detail }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="chargeDetail">

            <div class="leftDiv col-md-8 col-xs-12 col-sm-12">
            <div>
                {% for cost in course.get_costs %}
                {% if cost.name != '合计'%}
                    <div>
                        <span>{{ cost.name }}</span>
                        <span>￥{{ cost.money }}</span>
                    </div>
                {% endif %}
                {% endfor %}


                {% for cost in course.get_costs %}
                {% if cost.name == '合计' %}
                    <div>
                        <span>{{ cost.name }}</span>
                        <span>￥{{ cost.money }}</span>
                    </div>
                {% endif %}
                {% endfor %}

                </div>
                <div class="explain">
                    说明：<br>
                    费用里包含政府费用1000元，保险部门费用50元。另外体检费30元由学员自理，办理手续时交给车管所。
                </div>
            </div>
            <div class="rightDiv col-md-4 col-xs-12 col-sm-12" >
                <span>免费赠送智能真车模拟培训</span>
            </div>

        </div>

    </div>

</div>
{% endblock %}




