<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="tuobaba"/>
    <title>杭州拓叭吧科技有限公司</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/tbb.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/focusStyle.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">

    <!--<link rel="shortcut icon" href="4-1.ico" type="image/x-icon" />-->

</head>
<body style="background:#F5F5F5 ">
<!--<div class="index-body"></div>-->
<div class="nav" style="margin-bottom: 604px">
    <div class="nav-s container">
        <div class="nav-log"></div>
        <div class="nav-nav">
            <ul class="nav-ul">
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="index.html?showGet=0" class="tbb-a1">首页</a>
                    </div>
                    <div class="nav-down show-4"></div>
                </li>
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="enrol.html?showGet=1" class="tbb-a1">我要报名</a>
                    </div>
                    <div class="nav-down show-3"></div>
                </li>
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="kitcar.html?showGet=2" class="tbb-a1">KITCAR</a>
                    </div>
                    <div class="nav-down show-3"></div>
                </li>
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="app.html?showGet=3" class="tbb-a1">下载APP</a>
                    </div>
                    <div class="nav-down show-2"></div>
                </li>
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="about.html?showGet=4" class="tbb-a1">关于我们</a>
                    </div>
                    <div class="nav-down show-1"></div>
                </li>
                <li class="nav-li">
                    <div class="nav-con">
                        <a href="join.html?showGet=5" class="tbb-a1">加入我们</a>
                    </div>
                    <div class="nav-down show-0"></div>
                </li>
                <li class="nav-li1"><i class="fa fa-car"></i></li>
            </ul>
            <div class="login"><a href="login.html">登录</a></div>
            <div class="register"><a href="register.html">注册</a></div>
        </div>
    </div>
    <div class=" switchMenuBtn"><span class="one"></span><span class="two"></span><span class="three"></span></div>
</div>
<div class="blankHeight"></div>
<div class="individualCenter container">
    <div class="operationMenu col-md-2 col-lg-2 col-sm-2 ">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">

                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="" aria-expanded="true" href="#collapseOne"
                           aria-controls="collapseOne"
                           class="collapsed">
                            <i class="icon">
                                <img src="../static/images/iconPersonalCenter2x.png"/>
                            </i>
                            个人信息
                            <li class="fa fa-chevron-up"></li>
                        </a>
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#userInformation">
                        <div class="panel-body">
                            <i class="icon fa fa-cog ">
                                <!--<img src="../static/images/iconAccount2x.png"/>-->
                            </i>
                            <p>账户设置 </p>
                        </div>
                    </a>

                </div>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent=""
                           href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <i class="icon">
                                <img src="../static/images/iconOrder2x.png"/>
                            </i>
                            我的订单
                            <li class="fa fa-chevron-up"></li>

                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#entryOrderContent">
                        <div class="panel-body">
                            <i class="icon "><img src="../static/images/iconCoupon2x.png"></i>
                            <p>报名订单 </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent=""
                           href="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                            <i class="icon">
                                <img src="../static/images/iconAsset2x.png"/>
                            </i>
                            我的资产
                            <li class="fa fa-chevron-up"></li>

                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                     aria-expanded="true" style="height: 0px;">
                    <a aria-controls="#myCouponContent">
                        <div class="panel-body">
                            <i class="icon "><img src="../static/images/iconCoupon2x.png"></i>
                            <p>优惠券 </p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <button class="menuToRightBtn" style="display: none"><i class="fa fa-angle-right fa-2x"></i></button>
    </div>
    <div class=" personalRight col-md-10 col-lg-10 col-sm-12">
        <div class="displayContent  userInformation  active " id="userInformation">
            <h4>个人信息</h4>

            <div class="userInf">

                <div class="userImage">
                    <div class="userIconDiv">
                        <div id="userIcon">
                            <img id="preview" alt="" src=".././static/images/difficult3x.png"/>

                        </div>
                        <span>头像</span>


                        <form class="am-form" method="post" enctype="multipart/form-data" style="display: none">
                            <input type="file" id="head" name="head" onchange="previewImage(this)">
                            <!--<button type="submit" class="am-btn am-btn-primary am-btn-xs">保存</button>-->
                        </form>
                    </div>


                </div>
                <div class="nicknameDiv">
                    <span class="label">用户名:</span>
                    <span>用户5874</span>
                </div>
                <div class="userPhoneDiv">
                    <span class="label">绑定手机:</span>
                    <span>137****5874</span>
                </div>
                <div class="realNameDiv">
                    <span class="label">真实姓名:</span>
                    <form method="post">
                        <input value="郭芙蓉" class="Disable" onchange="userNameChange()">
                        <i class="fa fa-edit "> </i>
                        <button type="submit"><i class="fa fa-upload "> </i></button>

                    </form>
                </div>
            </div>

        </div>
        <div class="displayContent entryOrderContent  " id="entryOrderContent">
            <h4>报名订单</h4>
            <div class="entryOrder">
                <div class="formHead">
                    <span>订单详情</span>
                    <span>支付金额</span>
                    <span>支付时间</span>
                </div>
                <div class="orderNum"><span> 订单号：</span><span>695784512365</span></div>
                <div class="formBody">
                    <span class="curriculumName">C1超越期望优质课</span>
                    <span class="prize">￥4850.00</span>
                    <span class="time">2018-03-28-00:00:00 </span>
                </div>
            </div>
        </div>

        <div class="displayContent myCouponContent  " id="myCouponContent">
            <h4>优惠券</h4>
            <div class="myCoupon ">
                <div class="formHead tabs">
                    <span class="active">未使用</span>
                    <span>已使用</span>
                    <span>已过期</span>
                </div>
                <div class="formBody ">
                    <div class="tabContent active">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  active">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已领取</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  active">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已领取</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabContent">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>

                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">20</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已使用</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabContent">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">120</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>


                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已过期</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-4 getCouponDiv  expire">
                            <div class="leftDiv">
                                <span class="moneyType">￥</span>
                                <div class="price">200</div>
                                <span class="activity">新春活动</span>
                            </div>
                            <div class="rightDiv">
                                <div class="top">
                                    <div class="superposed"><span>可叠加</span><input class="couponId" value="9876"
                                                                                   style="display: none"></div>
                                    <span class="limit">【限C1报名】</span>
                                    <div class="getCouponBtn"><span>立即使用</span><input class="couponId" value="89"
                                                                                      style="display: none"></div>
                                </div>
                                <div class="expireDate"><span>自领取之日起30天有效</span></div>
                            </div>
                            <div class="whiteCircle"></div>
                            <div class="invalid"><span>已过期</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div>

        </div>
    </div>
</div>
<div class="footer">
    <!--<div class="f-title"><span>Tuobaba</span>学车</div>-->
    <div class="ff-logo"></div>
    <div class="f-tit">一开始就玩真的</div>
    <div class="f-tit-say" style="line-height: 40px">
        <span>客服：400-8875828</span>
        <span>杭州拓叭吧科技有限公司</span>
    </div>
    <div class="f-tit-say">杭州市滨江区六合路368号一幢（北）二楼B2112室</div>
    <div class="f-tit-say">
        <a class="tbb-a2" href="javascript:;" style=" position: relative">
            <i class="fa fa-weixin"></i>
            <div id="show-erweima"></div>
        </a>
        <a class="tbb-a2" href="http://weibo.com/u/6315803035"><i class="fa fa-weibo"></i></a>
    </div>
    <div class="l-tit">Copyright © 2017 TuoBaBa Inc. 保留所有权利。 | Hangzhou TuoBaBa Technology Co., Ltd. 商务合作邮箱
        tbb@tuobbkj.com
    </div>
</div>


<script src="../static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/tbb.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="../static/js/html5shiv.js"></script>
<script src="../static/js/respond.min.js"></script>
<![endif]-->
<script src="../static/js/utile.js"></script>
<script src="../static/js/loading.js"></script>
<script src="../static/js/swiper.min.js"></script>


</body>

</html>
