
{% extends 'utile_base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="app-body"></div>
{% endblock %}

{% block content %}
    <div class="app-t-div">
    <div class="t-div1">
        <div class="llo"></div>
        <div class="tt1">TuoBaBa学车APP</div>
        <div class="tt2">一开始就玩真的</div>
        <div class="tt3"></div>
        <div class="tt4"><i class="fa fa-android"></i><i class="fa fa-apple"></i> | 扫码下载APP</div>
    </div>
    <div class="t-div2"></div>
</div>
    <div class="app-bbg">
    <div class="bbg-show">
        <div class="show-tit">
            <div class="t1">使用方法</div>
            <div class="t2">Usage method</div>
        </div>
        <ul class="show-pic">
            <li>
                <div class="pic-li"><img src="../static/admin/xkimg/1502082531.jpg"></div>
                <div class="p-ti1">STEP 1</div>
                <div class="p-ti2"><div style="text-align:center;">
                    <span style="font-size:12px;line-height:1.5;">查询周边KITCAR分布情况并在线预约</span>
                </div></div>
            </li>
            <li>
                <div class="pic-li"><img src="../static/admin/xkimg/1502082623.jpg"></div>
                <div class="p-ti1">STEP 2</div>
                <div class="p-ti2"><div style="text-align:center;">
                    <span style="font-size:12px;line-height:1.5;">一键扫码，解锁车门</span>
                </div></div>
            </li>
            <li>
                <div class="pic-li"><img src="../static/admin/xkimg/1502794360.jpg"></div>
                <div class="p-ti1">STEP 3</div>
                <div class="p-ti2"><div style="text-align:center;">
                    <span style="font-size:12px;line-height:1.5;">开启学车之路</span>
                </div></div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


