{% extends 'utile_base.html' %}
{% load staticfiles %}


{% block body %}
    <div class="index-body"></div>
{% endblock %}

{% block content %}
<div class="main-n ">
    <div class="main-1 ">
        <div class="main-con container">
            <div class="pic col-lg-6 col-md-6 col-sm-12" >
                <img src="{% static "index_image/xkimg/1501810195.jpg" %}">
            </div>
            <div class="con  col-lg-6 col-md-6 col-sm-12">
                <div class="con-title">「 真·还原真实 」</div>
                <div class="con-con">产品在原型和配置设计上追求完美，力求微细节偏差值为0。                    还原质感，全息技术给用户沉浸式的视觉效果和临场感。                    多维度动感模拟效果，通过触感+视觉+听觉+运动感，激发车感。</div>
            </div>
        </div>
    </div>
</div>
<div class="main-2">
    <div class="main-con container">
        <div class="pic  col-lg-6 col-md-6 col-sm-12">
            <img src="{% static "index_image/xkimg/1501810411.jpg" %}">
        </div>
        <div class="con  col-lg-6 col-md-6 col-sm-12">
            <div class="con-title">「 智-智能引领 」</div>
            <div class="con-con">用科技摆脱人工的繁琐，提高效率。 通过采集和分析驾驶数据，自动生成更人性化的训练课程。 打破常规教学方式，用智能引领驾驶培训。<br /></div>
        </div>
    </div>
</div>
<div class="main-1">
    <div class="main-con container">
        <div class="pic  col-lg-6 col-md-6 col-sm-12">
            <img src="{% static "index_image/xkimg/1501810728.jpg" %}">
        </div>
        <div class="con  col-lg-6 col-md-6 col-sm-12">
            <div class="con-title">「 适-舒适自由 」</div>
            <div class="con-con">对空间细节的琢磨，打造舒适休闲的学车环境。 不单是一种学车方式，更是生活哲学和学习态度。 学无止境，寓教于乐，和轻生活完美融合。<br /></div>
        </div>
    </div>
</div>
<div class="index-pic">
    <div class="but">
        <div class="b1"><i class="fa fa-youtube-play"></i></div>
        <div class="b2">观看视频介绍<br/>了解Tuobaba学车</div>
    </div>
</div>
<div id="videos-show">

</div>
{% endblock %}