{% extends 'utile_base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="kitcar-body"></div>
{% endblock %}



{% block content %}

    <div class="kitt"></div>
    <div class="kit">
        <div class="kit-div">
            <div class="kit-tit">
                <a href="javascript:;"><div class="tits tits0 getttt">KITCAR<i>44</i><div class="titss titss0"></div></div></a>
                <a href="javascript:;"><div class="tits tits-3 getttt">TEAM<i>47</i><div class="titss titss-3"></div></div></a>
            </div>
            <div class="kit-con">
                <p align="center">
                    <img alt="" src="http://www.tuobbkj.com/admin/kindeditor/attached/image/20170807/20170807101631_91098.png" />
                </p>
                <p align="center">
                    <br />
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">KITCAR在外观上坚持真实还原的原则，通过对真车的组装和质感的设计，</span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">结合分布式投影和自由度动感平台的多种解决方案，为用户带来沉浸式的视觉效果和真实的身体感知。</span>
                </p>
                <p align="center">
        <span style="font-family:Microsoft YaHei;font-size:16px;"><br />
    </span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">KITCAR为杭州市115引智计划重点项目，</span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">并获得了德国卡尔斯鲁厄理工学院第五届创新大赛 “NEULAND”特别奖提名。</span>
                </p>
                <p align="center">
        <span style="font-family:Microsoft YaHei;font-size:16px;"><br />
    </span>
                </p>
                <p align="center">
        <span style="font-family:Microsoft YaHei;font-size:16px;"><br />
    </span>
                </p>
                <p align="center">
                    <img alt="" src="http://www.tuobbkj.com/admin/kindeditor/attached/image/20170807/20170807101647_81345.png" /><span style="font-family:Microsoft YaHei;font-size:16px;"></span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">分布式投影解决方案，多维度的画面视角，</span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;">ART头部追踪系统，先进性的虚拟现实技术给用户带来沉浸式的驾驶体验。</span>
                </p>
                <p align="center">
                    <span style="font-family:Microsoft YaHei;font-size:16px;"></span>
                </p>
                <p align="center">
                    <br />
                </p>
                <p align="center">
                    <br />
                </p>
                <p align="center">
                    <img alt="" src="http://www.tuobbkj.com/admin/kindeditor/attached/image/20170719/20170719084112_15278.png" />
                </p>
                <p align="center">
                    <span style="font-size:16px;">在不改变真车硬件的前提下，</span>
                </p>
                <p align="center">
                    <span style="font-size:16px;">通过对车辆CAN协议的逆向工程实现对车辆的控制，</span>
                </p>
                <p align="center">
                    <span style="font-size:16px;">还原100%的驾驶体验。通过转向助力及车辆底座的改装，</span>
                </p>
                <p align="center">
                    <span style="font-size:16px;">使用户在车辆行进过程中获得真实的身体感知。</span>
                </p>
                <p align="center">
                    <br />
                </p>
                <p align="center">
                    <img alt="" src="http://www.tuobbkj.com/admin/kindeditor/attached/image/20170719/20170719084051_90719.png" />
                </p>
                <p align="center">
                    <span style="font-size:16px;">基于人工智能开发的模拟驾驶系统，分析并评估用户驾驶数据，</span>
                </p>
                <p align="center">
                    <span style="font-size:16px;">智能生成个性化的学 习任务，通过科学的学习曲线使用户高效有趣的掌握驾驶技能。</span>
                </p>
                <p align="center">
                    <br />
                </p>        </div>
        </div>
    </div>
{% endblock %}


